@media (min-width: 768px){
.div-line {
    display: none;
}


}

@media (max-width: 768px){

.ex__right, .ex__center, .ex__left{
    text-align: center;
	padding-top: 0;
}
form{
    max-width: 90%
}

.contacts, .logo{
justify-content: center;
}
.menu-section{
    height: auto;
    position: absolute;
}
h1{
    margin-top: 10rem;
}
.menu{
    padding: 0;
}

}
