*{
	/* border: 1px solid #dddddd; */
}
body{
	font-size: 1.6rem;
	font-family: 'Circe';
}
.row{
	/*padding: 2rem 0;*/
	/* border: 1px solid hsl(258, 82%, 43%); */
}
p{
	height: fit-content;
	/* border: 1px solid #2d8505; */
}
img{
	max-width: 90%;
	padding: 2rem;
}
section{
	/* border: 1px solid #dddddd; */
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
h1{
	font-size: 5rem;
	padding: 1em 1rem 1em 1rem;
}
h2{
	font-size: 3rem;
	padding: 1.5em 1rem 1.5em 1rem;
	/* border: 1px solid #dddddd; */
}
h3{
	font-size: 2rem;
	padding: 1em 1rem 0.5em 1rem;
}
h4{
	font-size: 2rem;
	padding: 1em 1rem 0.5em 1rem;
}

/*---text------*/

.flex-center{
	justify-content: center;
	text-align: center;
}
.text-center{
	text-align: center;
}
.text-space-around{
	display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}


/*---block------*/
.header-section{
	color: rgb(241, 241, 241);
	padding-bottom: 4rem;
}
.header{
	/* background: #f1a9a9; */
	/* height: 100vh; */
}
.logo{
	/* background: #c3f1a9; */
	height: 5rem;
}
.menu{
	/* background: #a9b4f1; */
	/* height: 100vh; */
}
.contacts{
	/* background: #a9b4f1; */
	/* height: 100vh; */
}

.text-header{
	justify-content: center;
}
.priveleges{
	font-size: 3rem;
	/*padding: 3rem 0;*/
}
.priveleges .text-center{
	padding-bottom: 2rem;
}
.div-line{
	display: inline-block;
    text-align: ;
    width: 20%;
    /* height: 5px; */
    border-bottom: 0.1em solid #99cc66;
}
.wedo{
	background: linear-gradient(to top, #dddddd, #ffffff);
	padding: 3rem 0;
	font-size: 2rem;
}
.wedo p{
	padding-bottom: 2rem;
	margin-bottom: 0;
}
.price{
	background: linear-gradient(to top, #e2deff, #ffffff);
}
.example{
	padding: 0;
	margin: 0;
}
.ex__right{
	text-align: right; 
	padding-top: 5rem;
}
.ex__center{
	text-align: center;
}
.ex__left{
	text-align: left; padding-top: 5rem;
}


.btn{
	font-size: 1em;
	border:0px solid #ccc; /*цвет границы*/
	border-radius: 4px;
	background:#99cc66;  /*цвет фона*/
	padding: 1rem 6rem;
	/*display:block;*/
	text-align:center; /*выравнивание текста по центру*/
	color:#fff;  /*цвет текста*/
	text-decoration:none;  /*убрать подчёркивание у ссылки*/
	width:auto;  /*ширина кнопки*/
	margin:auto;  /*выравнивание кнопки по центру*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}